extends header.pug 

block content 
    h1 Welcome to the artist section of the gallery! 

    a(href="/artist/addArt") Add artwork here!
    br
    br
    a(href='/artist/addWorkshop') Add a workshop here!
    br