extends header.pug 

block content 
    h1 Art gallery home page

    body
        p Welcome to the online art gallery page. 
        p Here, you can view, share, and interact with artworks around the internet
        p Use the above headers to navigate the website